@using la_mia_pizzeria_static.Data

@model List<Pizzas>
@{
    using la_mia_pizzeria_static.Data.PizzasContext db = new PizzasContext();
}
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div class="main text-center">
    <div class="hero">
        <h1>
            Byte Me Pizzeria
        </h1>
        <h2>
            Where Every Slice Tells a little Story
        </h2>

    </div>
    <div class="table-responsive mx-5 container-lg">
        <table class="table table-striped">
            <thead>
                <tr class="fs-4">
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th><a href="@Url.Action("Create", "Pizza")">Aggiungi</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pizza in Model)
                {
                    <tr class="fs-4" style="vertical-align: middle;">
                        <td>@pizza.Name</td>
                        <td>@pizza.Description</td>
                        <td><img src=@Url.Content(pizza.Image) class="img-fluid" style="max-width: 200px;"></td>
                        <td>@pizza.Price &euro;</td>
                        <td><a href="@Url.Action("VediPizza", "Pizza", pizza)">Dettagli</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>